{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMcdzmamt64Afu5x06avIvU"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"tFpjZkaZHYdC"},"outputs":[],"source":["__pycache__/\n","*.pyc\n",".env\n","venv/\n","model/*.pkl\n","model/*.csv\n",".DS_Store\n"]}]}